<%- include ('./partials/dashboardnav.ejs') %>
<main class="pt-5 max-lg-5">
	<h1 class="mr-0">ERROR 404 PAGE NOT FOUND</h1>
	<br /><br />
	<h3>
		This future was planned to be implemented <br /><br />
		but the developer didn't have enough time to complete
	</h3>
</main>
