
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PASSWORD MANAGER</title>

  <!-- Font Awesome Icons -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700&selection.subset=cyrillic"
    rel="stylesheet">
  <link
    href='https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i&display=swap&subset=cyrillic'
    rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <%- include ('./partials/head.ejs') %>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-nav-scroll navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
      </a>
      <button class=" navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger text-warning" href="#benefits">BENEFITS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">SIGN UP</a>
			

          </li>
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#login">LOG IN</a>
			

          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/dashboard">DASHBOARD</a>
			

          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead" id="home">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold" style="font-family: sans-serif;">PASSWORD MANAGER</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white font-weight-bold" style="font-family: serif;">
            PROTECT<BR>
            RELAX<BR>
            ENJOY<BR>
          </p>
          <a class="btn btn-primary  btn-xl js-scroll-trigger" href="#signup">SIGN UP</a>

        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class=" page-section bg-dark" id="services">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">SERVICES</h2>
          <hr class="divider light my-4">
          <p class="text-white-50 mb-4">

            PROTECTING YOUR PASSWORD
            <br><br>
            MANAGE YOUR PASSWORD IN DASHBOARD<br><br>
           SHARE YOUR PASSWORD WITH ANOTHER USER<br><br>
           STORE YOUR CARD INFORMATION<br><br>
           ONE MASTER PASSWORD <br><br>
         ALERTS OF UNSECURED PASSWORD<br><br></p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section" id="benefits">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1 class="mt-0">BENEFITS</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto modi repellendus doloremque quos. Iste vel corporis accusantium, temporibus alias eaque vitae veniam porro consectetur quos voluptatum totam magnam ipsam ipsa, dolorem mollitia sapiente itaque ullam dolore doloribus? Excepturi, repellat alias nemo ratione repudiandae enim quo illum aut perspiciatis tempore pariatur?</p>
          <hr class="divider my-4">
          
        </DIv>
      </div>
    </div>
    <div class="row">

    </div>
    </div>
    </div>
  </section>
  <section class="page-section" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">ABOUT</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto modi repellendus doloremque quos. Iste vel corporis accusantium, temporibus alias eaque vitae veniam porro consectetur quos voluptatum totam magnam ipsam ipsa, dolorem mollitia sapiente itaque ullam dolore doloribus? Excepturi, repellat alias nemo ratione repudiandae enim quo illum aut perspiciatis tempore pariatur?</p>
          
          <hr class="divider my-4">
        </div>
      </div>
    </div>

  </section>
  <section class="page-section" id="signup">
    <div class="container">
      <div class="row">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="mt-0">SIGNUP</h2>
            <h4 class="mt-0">This future is under construction</h4>
            <hr class="divider my-4">
          
      </div>
    </div>
  </section>
  <section class="page-section" id="signup">
    <div class="container">
      <div class="row">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="mt-0">LOGIN</h2>
            <h4 class="mt-0">This future is under construction</h4>
            <hr class="divider my-4">
        
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; This project was created using bootstrap 5.2 MDB , MongoDB Express EJS MongoOse Jquery & JS <br />Copyright ©
        2022 Sami Sipahi GA project 2</div>
    </div>
  </footer>

</body>

</html>
