.navbar-dark .navbar-nav .nav-link {
	color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link a:hover {
	color: rgb(140, 79, 79);
}

.btn-outline-light {
	color: #fff;
	background-color: red;
	border-color: white;
}

header.masthead {
	padding-top: 10rem;
	padding-bottom: calc(10rem - 72px);
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(92, 77, 66, 0.4)),
			to(rgba(92, 77, 66, 0.2))
		),
		url("/img/bg.jpeg");
	background: linear-gradient(
			to bottom,
			rgba(92, 77, 66, 0.8) 0%,
			rgba(92, 77, 66, 0.8) 100%
		),
		url("/img/bg.jpeg");
	background-position: 25% 35%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.btn-primary {
	background-color: rgb(3, 2, 2);
	border-color: #fff;
}

.logo-wrapper img {
	height: 190px;
	width: 270px;
}

.sidebar-fixed {
	height: 100vh;
	width: 270px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
	z-index: 1050;
	padding: 1.5rem;
	padding-top: 0;
}

.sidebar-fixed.list-group .active {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
	border-radius: 5px;
}

.sidebar-fixed .logo-wrapper {
	padding: 2.5rem;
}

@media (min-width: 768px) {
	.navbar,
	.page-footer,
	main {
		padding-left: 270px;
	}
}
@media (max-width: 1199.98px) {
	.sidebar-fixed {
		display: none;
	}
}
